@charset "UTF-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0 auto;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #a6686f;
}

.title {
	color: #b0b0af;
	font-size: 25px;
	margin-left: 290px;
	margin-top: 570px;
}

.empty1 {
	margin-left: 590px;
}

.bar1 {
	z-index: -20;
	position:absolute;
	top:0;
	left:0;
}

.boxes {
	z-index: -20;
	position: absolute;
	top: 0;
	right: 0;
}

.featured {
	z-index: -30;
	position: absolute;
	top: 0;
	right: 0;
}

nav {
	margin-left: 130px;
}

nav ul li {
	display: inline;
	font-size: 22px;
	line-height: 80px;
	font-size: 22px;
	color: #282c2e;
	margin-left: 50px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

.featured {
	float: right;
}

.bar2 {
	float: right;
	position: relative;
	margin-top: 17px;
}

.me {
	margin-top: 90.5px;
	postion: relative;
	z-index: -50px;
}

.empty2 {
	position: absolute;
	top: 1300px;
	left: 460px;
}

.about {
	font-size: 18px;
	color: #b0b0af;
	width: 470px;
	position: absolute;
	margin-top: 750px;
	margin-left: 770px;
	line-height: 25px;
}

.myself {
	position: absolute;
	color: #b0b0af;
	font-size: 20px;
	margin-top: 750px;
	margin-left: 530px;
}

.bar3 {
	
	position: absolute;
	margin-bottom: 1000px;
	top: 1517px;
	right: 00px;
}

.bar4 {
	position: absolute;
	z-index: -80;
	right: 00px;
}

.historybox {
	position: absolute;
	margin-top: 1100px;
	margin-left: -200px;
	z-index: -10;
}

.history {
	color: #b0b0af;
	font-size: 20px;
	position: absolute;
	top: 2155px;
	left: 550px;
}

.fullsail {
	font-size: 15px;
	color: #282c2e;
	position: absolute;
	top: 2320px;
	left: 580px;
}

.UCF {
	font-size: 15px;
	color: #282c2e;
	position: absolute;
	top: 2420px;
	left: 500px;
	
}

.Mav {
	font-size: 15px;
	color: #282c2e;
	position: absolute;
	top: 2520px;
	left: 420px;	
}

.Cave {
	font-size: 15px;
	color: #282c2e;
	position: absolute;
	top: 2620px;
	left: 340px;
	
}

.hide {
	color: #b0b0af;
}

.type {
	position: absolute;
	top: 2330px;
	left: 180px;
}

.bar5 {
	position: absolute;
	left: 0;
	top: 2400px;
	z-index:-100;
}

.bar6 {
	position:absolute;
	top: 2500px;
	right: 0;
	z-index: -80;
}

.abilities {
	position: absolute;
	right: 0;
	top: 2950px;
}

.sunset {
	z-index: -110;
	position: absolute;
	left: 0;
	top: 3400px;
}

.footer {
	font-size: 12px;
	color: #282c2e;
	position:absolute;
	right: 20px;
	top: 4850px;
}

.github {
	position: absolute;
	right: 180px;
	top: 4755px;
}

.linkedin {
	position: absolute;
	right: 105px;
	top: 4762px;
}

.behance {
	position: absolute;
	right: 20px;
	top: 4756px;
}

.bar10 {
	z-index: -20;
	position:absolute;
	top:0;
	left:0;
}

.bar20 {
	z-index: -20;
	position:absolute;
	top:462px;
	right:0;
}

.featuredcontact {
	z-index: -30;
	position: absolute;
	top: 0;
	right: 0;
}

.boxes2 {
	z-index: -20;
	position: absolute;
	top: 0;
	right: 0;
}

.empty10 {
	margin-top: 225px;
	margin-left: 20px;
}

.reach {
	color: #b0b0af;
	font-size: 35px;
	margin-top: 600px;
	margin-left: 60px;
	position: absolute;
}

.will {
	color: #a6686f;
	font-size: 25px;
	position: absolute;
	margin-left: 60px;
	margin-top: 670px;
}

.info {
	color: #282c2e;
	font-size: 35px;
	margin-top: 450px;
	margin-left: 1200px;
}

.MRH {
	color: #b0b0af;
	font-size: 25px;
	margin-left: 1212px;
	margin-top: 30px;
}

.myemail {
	color: #282c2e;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 1160px;
}

.pre {
	color: #78505a;
	font-size: 15px;
	margin-left: 1370px;
	margin-top: 10px;
}

.mynumber {
	color: #282c2e;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 1278px;
}

.hours {
	color: #78505a;
	font-size: 15px;
	margin-left: 1295px;
	margin-top: 10px;
}



.footer2 {
	font-size: 12px;
	color: #282c2e;
	position:absolute;
	right: 20px;
	top: 1610px;
}

.github2 {
	position: absolute;
	right: 180px;
	top: 1515px;
}

.linkedin2 {
	position: absolute;
	right: 105px;
	top: 1522px;
}

.behance2 {
	position: absolute;
	right: 20px;
	top: 1516px;
}

.bar100 {
	z-index: -20;
	position:absolute;
	top:0;
	left:0;
}

.fish {
	z-index: -30;
	position: absolute;
	top: 0;
	right: 0;
}

.bar101 {
	margin-top: 340px;
}

.footer3 {
	font-size: 12px;
	color: #282c2e;
	position:absolute;
	right: 20px;
	top: 2450px;
}

.github3 {
	position: absolute;
	right: 180px;
	top: 2355px;
}

.linkedin3 {
	position: absolute;
	right: 105px;
	top: 2362px;
}

.behance3 {
	position: absolute;
	right: 20px;
	top: 2356px;
}

.form {
	position: absolute;
	margin-top: 740px;
	width: 503px;
	margin-left: 60px;
}

#Message {
	color: #282c2e;
	background-color: #c4c4ce;
	width: 503px;
	height: 155px;
	font-size: 18px;
}

#Message:focus{
	border-top: 5px solid #a6686F;
	outline: none;
	}

#Email {
	margin-top: 40px;
	color: #282c2e;
	background-color: #c4c4ce;
	width: 503px;
	height: 34px;
	font-size: 18px;
	padding-top: 10px;
}

#Email:focus{
	border-top: 5px solid #a6686F;
	outline: none;
	}

#Name {
	margin-top: 40px;
	color: #282c2e;
	background-color: #c4c4ce;
	width: 229px;
	height: 34px;
	font-size: 18px;
	padding-top: 10px;
}

#Name:focus{
	border-top: 5px solid #a6686F;
	outline: none;
	}

#Number {
	margin-top: 40px;
	margin-left: 28px;
	color: #282c2e;
	background-color: #c4c4ce;
	width: 229px;
	height: 34px;
	font-size: 18px;
	padding-top: 10px;
}

#Number:focus{
	border-top: 5px solid #a6686F;
	outline: none;
	}

#Send {
	margin-top: 40px;
}

textarea {
	resize: none;
}

.current {
  font-size: 22px;
  position: relative;
}

.current::after {
  border-bottom: 0.125em solid #a6686F;
  content: "";
  left: 0;
  line-height: 20px;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.folio {
	position: absolute;
	left: -270px;
	top: 465px;
}





